p {
	background-color : yellow;
	color : blue;
	text-align : center ;
	font-size : large;
	font-family: arial;
	text-decoration: underline;
	font-style: italic;
}

h2 
{
	text-shadow : yellow 0 -2px;
}